footer{ 
        background-color: #565656;
        color: #DDD;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem 1rem 0 1.3rem;
    }