.grid-header{
    p{font-size: 0.8rem;color: #5C5C5C;margin-bottom: 0px;}
    h5{    margin-bottom: 0px;}
}

.page-header{
    h4{
        span{font-size: 1rem;color:#373737;vertical-align: middle;
            i{font-size: 1.2rem;margin-left: 0.5rem;color: #ff8500;}
        }
    }
}
.float-searchicon{height:50px;}
