.paymentReportSec{ 
    .tableLayout{
        .mat-card{padding:15px;padding-bottom:0px;border: 1px solid #c1c1c1;border-radius: 10px 0 10px;}
        span{font-size: 14px;padding-top: 4px;}
    }
}
h5{color: #04AACD;}
