.remove{
    p{font-size:1.5rem;color:#6F6F70;font-weight: bold;}
    h6{color:#646464;}
    i{
        font-size: 2rem;
        color: #FF4300;
        height: 40px;
        width: 40px;
        padding-top: 5px;
        border-radius: 50%;
        border: 1px solid #FF221F;
    }
}