.createMandateSec{
    .mat-card{padding: 15px;border-bottom-left-radius: 15px;min-height: 350px;}
    .imageBlock{padding-top: 3.5rem;border:2px dashed #ccc;
        p{font-size: 0.8rem;margin-bottom: 0;padding-bottom: 2.8rem;}
        h5{font-size: 1.1rem;margin-bottom: 0;}
        h4{font-size: 1rem;color: #888;padding: 1.5rem 0;}
       
    }
    .all_err_txt{
        text-align: center;
        color: #ff0000;
        font-size: 13px;
    }
    .image-upload > input{display: none;}
    .image-upload p{font-size: 13px;margin-top: 0.4rem;}
    .image-upload img{cursor: pointer;}
    .thumbnailImg{border:2px dashed #888;width:30px;height:30px;margin-top:0.8rem;cursor: pointer;}
    .mat-card.formBlock{max-height:auto !important;border-bottom-left-radius: 0px;border-top-right-radius: 15px;border-top:1px solid #e6e6e6;}
    .formBlock{
        .mat-form-field-infix{font-size: 12px;}
        .mat-checkbox{font-size: 12px !important;position: relative;top: 0px;}
        .bank-desc{    top: -15px !important;position: relative;color: #ff8500;}        
    }
    
}

