<div class="container">
  <form>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-orange">Search Utility Code</h4>
          <mat-form-field class="mt-5">
            <input type="text" placeholder="Utility Code" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <!-- <mat-select> -->
              <mat-option *ngFor="let option of data" [value]="option">
                {{option}}
              </mat-option>
            <!-- </mat-select> -->
            </mat-autocomplete>
          </mat-form-field>     
      </div>

      <div class="col-md-12 text-center closeSec">
          <button class="btn enquiryBtn mt-2" (click)="onNoClick()">OK</button>
      </div>
    </div>
</form>
</div>
