<div class="vertical_center">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
          <mat-card>
              <div class="row h-100">
                <div class="col-12 my-auto">
                  <h3 class="mt-2 failure">Mandate Request Failure</h3>
                  <!-- <h3 class="mt-2 success">Mandate Request Failure</h3> -->
                   <p>Your Mandate Registration has been failed due to Frequency is required</p>

                   <button class="btn btn-ok mt-3">Ok, Got it</button>
                </div>
              </div>
          </mat-card>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>