.emandateSec{
    .mat-card{
        border-radius:10px;margin-top:1.5rem;margin-bottom:2rem;
        hr{border-bottom: 2px solid#F53E00}
    }
    h5{color:#570015;}

    button{margin-bottom: 2.5rem;}
}


