<div class="vertical_center">
    <div class="container landingPageSec">
        <mat-card class="w-85 mx-auto">
              <div class="row justify-content-md-center text-center ">
                  <div class="col-12">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h4>NACH Direct Access</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>Online  portal for NACH Paper, e-mandates, NACH Credit & Debit payments processing </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h4>Self service portal for NACH management</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>Seamless processing for NACH mandates and payments</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h4>Speedy NACH processing</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>Reduced timelines and improved speed for end to end NACH processing from corporates to end customer</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="carousel-item">
                                    <h4>Better informed decision making</h4>
                                    <div class="row">
                                            <div class="col-12">
                                                <p>Complete visibility and tracking of NACH mandate & payments processing </p>
                                            </div>
                                    </div>
                                </div>
                            </div>
        
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                  </div>
                  
                  <div class="col-12 align-self-center">
                        <button type="button" class="btn btn-orange text-uppercase  marT15" (click)="openDialog()" id="rtpLogin"
                         >Login</button>
                    </div>
            </div>
        </mat-card>
    </div>
  </div>
  